<div *ngIf="showFileSelect" class="full-page-center">
    <h1>{{title}}</h1>
    <p>Please select a file to upload. In the next step you will be presented with the resource entries extracted from the file before upload begins</p>
    <div class="flex flex-spacing-1">
        <p-fileUpload mode="basic" chooseLabel="Select File" name="inputFile" selectIcon="pi pi-arrow-down"  accept=".xlsx,.xls,.csv,.xlsm" [maxFileSize]="maxFileSizeInBytes" (onSelect)="processFile($event)"></p-fileUpload>
        <p-button routerLink="/" label="Back" icon="pi pi-arrow-left"></p-button>
    </div>
</div>

<div *ngIf="!showFileSelect" class="container">
    <div class="flex flex-spacing-1">
        <p>The following {{newResources.length}} resources are available in the selected excel file. <br/>
            Please verify they are correct and press the <b>Start Upload</b> button to send this batch (Batch ID: {{ batchGUID }}) to the website.
        </p>
        <p [style]="{'flex-grow': 1,  'text-align': 'right'}">
            <p-button label="Start Upload" icon="pi {{ getStatusIconClass(batchProcessingStatus) }}" (onClick)="uploadResources()" ></p-button>
        </p>
        
    </div>
    <p-divider></p-divider>
    <p-scrollPanel [style]="{ width: '100%', height: '80vh' }">
        <p-table [value]="newResources" [tableStyle]="{ 'min-width': '50rem', 'border': '1px solid silver' }"styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped ">
            <ng-template pTemplate="header">
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>PDF Url</th>
                    <th>Word Url</th>
                    <th>Keywords</th>
                    <th>Status</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-newResource>
                <tr>
                    <td>{{ newResource.Title }}</td>
                    <td>{{ newResource.Description }}</td>
                    <td>{{ newResource.pdfUrl }}</td>
                    <td>{{ newResource.wordUrl }}</td>
                    <td>{{ newResource.Keywords }}</td>
                    <td>
                        <a ngIf="newResource.Status == 3" href="{{ (newResource.WordpressLink && newResource.WordpressLink.length > 1) ? newResource.WordpressLink : '' }}" >
                            <i title="{{ newResource.ErrorMesg }}" class="pi {{ getStatusIconClass(newResource.Status) }}"></i>
                        </a>
                        <i ngIf="newResource.Status != 3" title="{{ newResource.ErrorMesg }}" class="pi {{ getStatusIconClass(newResource.Status) }}"></i>
                    </td>             
                </tr>
            </ng-template>
        </p-table>
    </p-scrollPanel>
    
</div>